.fields{
    padding-top: 8px;
}

.field_c{
    margin-bottom: 5px;
}

.label_c{
    width: 15%;
    float: left;
}

.label_c label{
    line-height:35px;
}

.input_c{
    width: 85%;
    float: left;
}

.input_c button{
    height:30px;
}
.float_c{
    clear:both;
}

.button {
    border: none;
}